<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ubt.en.alpha1e.ble">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <activity
            android:name=".activity.FirstGreetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.BleGuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.BleConnectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.FirstGreetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.BleSearchWifiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.BleWifiInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".activity.BleStatuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>

        <service
            android:name=".service.AutoConnectService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>