<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ubt.setting">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application

        >
        <activity
            android:name=".mainuser.UserCenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ubt.setting"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/setting_file_paths" />
        </provider>
    </application>
</manifest>