<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubt.blockly" >

    <application
        >

        <activity
            android:name=".BlocklyMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".main.BlocklyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".course.BlocklyCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".course.courselist.CourseListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            />


    </application>

</manifest>
