<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ubt.en.alpha1e.action">

    <application>
        <activity
            android:name=".ActionCreateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ActionMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ActionSaveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".SaveSuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".course.ActionCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".course.ActionLevelCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".course.ActionSaveCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".DynamicActionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ActionDetailDynamicActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="landscape"
                  android:theme="@style/NoTitleThemeFullScreen"
                  android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>