<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ubt.en.alpha1e.remote">

    <application
        >
        <activity
            android:name=".RemoteMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.ubt.en.alpha1e.remote.RemoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>