<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubt.blockly">

    <application
        android:name=".BlocklyApplication"
        android:allowBackup="true"
        android:icon="@drawable/block_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/block_ic_launcher_round"
        android:supportsRtl="true"
        >
        <activity
            android:name=".BlocklyMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".main.BlocklyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"></activity>


    </application>

</manifest>